{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="{% url 'core:index' %}">Fan De Pan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'core:index' %}">Home</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'core:about' %}">About</a></li>

                {% if user.is_authenticated %}
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'panaderia:index' %}">Panadería</a></li>
                    
                    {% if user.is_superuser %}
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'pedido:index' %}">Pedido</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'cliente:index' %}">Cliente</a></li>
                    {% endif %}
                    
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'core:profile' %}">{{ user.username }}</a></li>
                    
                    <li class="nav-item d-flex align-items-center px-lg-4">
                        {% if cliente.avatar %}
                            <img src="{{ cliente.avatar.url }}" alt="avatar" style="height: 30px; margin-left: 10px;" />
                        {% else %}
                            <img src="{% static 'core/img/avatar2.webp' %}" alt="avatar" style="height: 30px; margin-left: 10px;" />
                        {% endif %}
                        <form method="POST" action="{% url 'core:logout' %}" style="display:inline; margin-left: 10px;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link text-uppercase" style="padding: 0;">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'core:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>