<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan de Pan</title>
</head>
<body>
    <header>
        <h1 style="color: orange; text-align: center;">
            {% block header %}
            {% endblock header %}
        </h1>
    </header>
    <nav style="color: orange; text-align: center;">
        {% include 'panaderia/navbar.html' %}
    </nav>
    <main>
        <h1 style="color: orange; text-align: center;">
    {% block main %}       
    {% endblock main %}
    </main>
</body>
</html>