{% extends 'core/base.html' %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container" style="background-color: transparent;">
        <a class="navbar-brand text-uppercase fw-bold" href="{% url 'core:index' %}">Fan De Pan</a>
    </div>
</nav>
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Panadería</span>
    </h1>
</header>
{% endblock header %}

{% block main %}
<section class="page-section clearfix">
    <div class="container" style="background-color: transparent;">
        {% if user.is_staff %}
            <div class="text-center mb-4">
                <a href="{% url 'panaderia:panaderia_form' %}" class="btn btn-primary btn-xl" style="font-size: 1.2rem;">Crear Producto</a>
            </div>
        {% endif %}

        {% if object_list %}
            <div class="list-group">
                {% for object in object_list %}
                    <div class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #F9E6B2; color: black; border: none; border-radius: 15px; margin-bottom: 10px;">
                        <span style="flex-grow: 1; font-family: 'Montserrat', sans-serif; font-size: 1rem; font-weight: normal;">{{ object.nombre|upper }}</span>
                        <span style="flex-basis: 100px; font-family: 'Montserrat', sans-serif; font-size: 1rem; font-weight: normal; text-align: center;">${{ object.precio }}</span>
                        <div>
                            <a href="{% url 'panaderia:panaderia_detail' object.id %}" class="btn btn-primary">Detalle</a>
                            {% if user.is_staff %}
                                <a href="{% url 'panaderia:panaderia_update' object.id %}" class="btn btn-primary">Cambiar</a>
                                <a href="{% url 'panaderia:panaderia_delete' object.id %}" class="btn btn-primary">Borrar</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center" style="font-family: Arial, sans-serif;">No hay registros</p>
        {% endif %}
    </div>
</section>
{% endblock main %}