{% extends 'panaderia/base.html' %}

{% block header %}
Lista de pedidos
{% endblock header %}

{% block main %}
    <button>
    <a href="{% url 'pedido_create' %}">Crear Pedido</a>
    </button>

    {% for object in object_list %}
        <p>
            Servicio: {{ object.servicio }} - 
            Cliente: {{ object.cliente | upper}}
            Fecha: {{ object.fecha_entrega | date:"d/m/Y"}}
            Estado: {{ object.estado }}
        </p>
        {% empty %}
            <P> No hay registros </P>
        {% endfor %}
{% endblock main %}